@import url("../Helvetica/font.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("normalize.css");
@import url("_roof/_roof.css");
@import url("_about-us/_about-us.css");
@import url("_our-approch/_our-approch.css");
@import url("_our-work/_our-work.css");
@import url("_facebook-analysis/_facebook-analysis.css");
@import url("_menu/_menu.css");
@import url("_banner/_banner.css");
@import url("_section-title/_section-title.css");
@import url("_wrapper/_wrapper.css");
#Subscribe {
  padding: 90px 0 86px;
  background-color: #2A2A2A;
  color: white; }
  #Subscribe .title h2 {
    font-size: 29px;
    padding-bottom: 30px; }
  #Subscribe .social-networks {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #Subscribe .social-networks .social-button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 45px;
      height: 45px;
      border: 2px solid #515151;
      border-radius: 3px;
      margin: 0px 10px; }
      #Subscribe .social-networks .social-button:hover {
        border-color: #DE2B24; }
  #Subscribe form {
    margin-top: 35px; }
    #Subscribe form p {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #CECECE; }
    #Subscribe form input[id="email"] {
      padding: 20px;
      border: 0;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #CECECE;
      background-color: #515151;
      display: block;
      margin: 30px calc(100% / 6);
      width: calc(100% / 6 * 4); }
    #Subscribe form input[type='submit'] {
      font-family: 'Helvetica', sans-serif;
      font-size: 17px;
      font-weight: bold;
      border: 1px solid #515151;
      border-radius: 3px;
      color: white;
      background-color: #2A2A2A;
      padding: 15px 30px; }

footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #515151;
  color: #CECECE;
  padding: 27px 0; }
